<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/Errorstyle.css" rel="stylesheet">
    <title>Title</title>
</head>

<body>
<div class="topLeft">
    <img src="/img/SR.png" class="lettrelost ">
</div>
<div class="bottomLeft">
    <img src="/img/S.png" class="lettrelost ">
</div>
<div class="topRight">
    <img src="/img/O.png" class="lettrelost ">
</div>
<div class="bottomRight">
    <img src="/img/E.png" class="lettrelost ">
</div>
<div class="center">
    <img class="h" src="/img/H.png">
    <p class="notfounText centerContenu">Not Found</p>
    <Button class="btn cart centerContenu"><a href="/SuccessLogin">go to Home page</a></Button>
</div>

</body>

</html>